:root {
  --primary-color: #e31e24;
  --secondary-color: #264796;
  --warning-color: #ffe003;
  --success-color: #25db0f;
  --tarnation: 0.2s ease-in-out;
}

.navLink {
  color: var(--secondary-color) !important;
  font-weight: 600;
  text-decoration: none;
  transition: var(--tarnation);
}

.MuiAccordionSummary-content {
  margin: 0 !important;
}

.navLink.active {
  color: var(--primary-color);
}

.navLink:hover {
  color: var(--primary-color) !important;
}
